<!DOCTYPE html>

<html>

  <head>
    <title>flashy flashy bang bang</title>
    <link href="css/index.css" media="all" rel="stylesheet">
    <script src="js/index.js"></script>
  </head>

  <body>
  </body>

</html>